.navbar{
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    padding-bottom: 0%;
    padding-left: 30px;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: darkslateblue;
}

.nav-item:hover{
    border-color:darkslateblue;
    background-color: whitesmoke;
}

.search-bar:active{
    border-color:darkslateblue;
    border-width: 3px;
    border-style:solid;
}

.nav-item{
    border-width:1px;
    border-color:lightgray;
    border-style:solid;
    border-radius: 50px;
    margin:10px;
    margin-bottom:15px;
    padding-top:5px;
    
}

.search-bar{
    border-radius: 50px;
    margin:10px;
    margin-bottom:15px;
    padding:10px;
    background-color: whitesmoke;
}