<!DOCTYPE html>
<html>

<body>
    <nav class="navbar">
        <ul class="nav nav-pills">
            <li class="search-bar">
                <form>
                    <img src="/assets/search-icon.svg" alt="" width="20" height="20">
                    <input type="text" placeholder="Search" name="search">
                </form>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">
                <img src="/assets/location-icon.svg" alt="" width="25" height="20">Location
                </a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                    Full-time job
                </a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                    Internship
                </a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                    Part-time
                </a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                    On-campus
                </a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <img src="/assets/slider-icon.svg" alt="" width="25" height="20">All filters
                </a></li>
        </ul>
    </nav>
</body>

</html>