<!DOCTYPE html>
<html>

<body>
    <nav class="navbar py-0 border-bottom border-1">
        <ul class="nav">
            <li class="nav-item-logo py-2"><a class="navbar-brand ms-5" routerLink="/home">
                    <img src="/assets/Handshake-logo_1.svg" alt="" width="40" height="40">
                </a></li>
            <li class="nav-item py-2" routerLinkActive="active py-2"><a class="nav-link" routerLink="/jobs">
                    Jobs
                </a></li>
            <li class="nav-item py-2" routerLinkActive="active py-2"><a class="nav-link" routerLink="/events">
                    Events
                </a></li>
            <li class="nav-item py-2" routerLinkActive="active py-2"><a class="nav-link" routerLink="/employers">
                    Employers
                </a></li>
        </ul>

        <ul class="nav">
            <li class="nav-item py-2" routerLinkActive="active py-2"><a class="nav-link" routerLink="/messages">
                    Messages
                </a></li>
            <li class="nav-item py-2" routerLinkActive="active py-2"><a class="nav-link" routerLink="/career-center">
                    Career Center
                </a></li>

            <div class="dropdown profile-menu py-2 me-5">
                <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown">
                    <img src="/assets/person-circle-icon.svg" alt="" width="25" height="25">
                </button>
                <div class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">
                            My Profile
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            My Jobs
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            My Interviews
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            My Documents
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            My Career Interests
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            My Reviews
                        </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">
                            Notifications
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            Settings
                        </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">
                            Help
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            Terms of Service
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            Log out
                        </a></li>
                </div>
            </div>
        </ul>
    </nav>
</body>

</html>