.navbar{
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    padding-bottom: 0%;
    padding-left: 30px;
}

.nav-link{
    color: black;
}

.nav-item-selected{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
}