.navbar {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.btn-secondary{
    background-color: white;
    border-color:white;
}

.dropdown-menu{
    left:auto;
    right:0;
}

.nav-link{
    color: black;
}

.nav-item:hover{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: gray;
}

.active{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
}