<nav class="navbar bg-light">
    <ul class="nav">
        <li class="nav-item"><a class="navbar-brand" href="#">
            <img src="/assets/Handshake-logo.svg" alt="" width="30" height="30">
        </a></li>
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Jobs
        </a></li>
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Events
        </a></li>
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Employers
        </a></li>
    </ul>

    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Messages
        </a></li>
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Career Center
        </a></li>

    <div class="dropdown">
        <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown">
            <img src="/assets/Profile-pic.svg" class="rounded-circle" alt="" width="30" height="30">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">
                My Profile
            </a></li>
            <li><a class="dropdown-item" href="#">
                My Jobs
            </a></li>
            <li><a class="dropdown-item" href="#">
                My Interviews
            </a></li>
            <li><a class="dropdown-item" href="#">
                My Documents
            </a></li>
            <li><a class="dropdown-item" href="#">
                My Career Interests
            </a></li>
            <li><a class="dropdown-item" href="#">
                My Reviews
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">
                Notifications
            </a></li>
            <li><a class="dropdown-item" href="#">
                Settings
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">
                Help
            </a></li>
            <li><a class="dropdown-item" href="#">
                Terms of Service
            </a></li>
            <li><a class="dropdown-item" href="#">
                Log out
            </a></li>
        </ul>
    </div>
    </ul>
</nav>

<nav class="navbar bg-light">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Jobs
        </a></li>
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Saved
        </a></li>
    </ul>
</nav>