.card{
    border-style:none;
}


.card:active{
    border-left-width: 3px;
    border-left-style:solid;
    border-left-color: darkslateblue;
}

.card-body{
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: lightgray;
}

.btn{
    background-color: whitesmoke;
    border-radius: 1000px;
}

.btn:hover{
    background-color: rgb(225, 221, 252);
}

.bookmark{
    fill:whitesmoke;
    stroke:darkslateblue;
}

.bookmark:hover{
    fill:rgb(225, 221, 252);
}

.bookmark:active{
    fill:darkslateblue;
}

.attributes{
    font-size: 18px;
    color: gray;
}

.card-text{
    font-size: 18px;
    margin-bottom:0;
}

.card-title{
    font-size: 28px;
    margin-bottom:20px;
}