<!DOCTYPE html>
<html>

<body>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <p class="attributes">
                        {{description}}
                    </p>
                    <h1 class="card-title">
                        {{title}}
                    </h1>
                    <p class="card-text">{{company}}</p>
                    <p class="card-text">
                        {{location}}
                    </p>
                </div>
                <div class="col">
                    <button type="button" class="btn mt-5">
                        <svg class="bookmark" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>