<div class="d-flex flex-row justify-content-center">
    <div class="col" style="text-align: left;">
        <img src="https://s3.amazonaws.com/handshake.production/app/public/assets/schools/1000/small/hs-school-logo-data.?1560191556"
            alt="" width="40" height="40">
    </div>
    <div class="col">
        <img src="/assets/person-circle-icon.svg" alt="" width="100" height="100">
    </div>
    <div class="col" style="text-align: right;">
        <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown">
            <svg class="pencil" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
        </button>
        <div class="dropdown-menu">
            <li><a class="dropdown-item">
                    <form #postForm="ngForm" (ngSubmit)="onUpdateMyProfileCardInfo(postForm.value)">
                        <div class="input-group">
                            <span class="input-group-text">Preferred Name:</span>
                            <input type="text" class="form-control" ngModel name="PreferredName">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">Last Name:</span>
                            <input type="text" class="form-control" ngModel name="LastName">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">School Year:</span>
                            <input type="text" class="form-control" ngModel name="SchoolYear">
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Save
                        </button>
                    </form>
                </a></li>
        </div>
    </div>
</div>
<div class="d-flex flex-row justify-content-center">
    <div class="flex-column px-5">
        <h4 class="main-text mb-0 mt-4" style="text-align: center;">{{PreferredName}} {{LastName}}</h4>
        <p class="main-text my-0" style="text-align: center;">West Virginia University</p>
        <p class="main-text my-0" style="text-align: center;">Bachelors, Computer Engineering •
            Biometric Systems Engineering</p>
        <p class="sub-text my-0" style="text-align: center;">Graduates May 2023</p>
        <p class="sub-text mt-0" style="text-align: center;">{{SchoolYear}} • GPA: xxx</p>
    </div>
</div>