<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="row">
            <app-top-nav-bar></app-top-nav-bar>
        </div>
        <div class="row">
            "West Virginia University" w/ background image and logo
        </div>
        <div class="row">
            <div class="col">
                Appointments
            </div>
            <div class="col">
                Resources
            </div>
            <div class="col">
                Experiences
            </div>
            <div class="col">
                Surveys
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="row">
                    About/description
                </div>
                <div class="row">
                    Career Centers
                </div>
                <div class="row">
                    Upcoming Career Fair 1
                </div>
                <div class="row">
                    Upcoming Career Fair 2
                </div>
                <div class="row">
                    Upcoming Career Fair 3
                </div>
                <div class="row">
                    Upcoming Event 1
                </div>
                <div class="row">
                    Upcoming Event 2
                </div>
                <div class="row">
                    Upcoming Event 3
                </div>
            </div>
            <div class="col">
                <div class="row">
                    Contact Information: website, phone, email, location
                </div>
                <div class="row">
                    "Schedule Appointment"
                </div>
                <div class="row">
                    Public Staff List
                </div>
            </div>
        </div>
    </div>
</body>

</html>