<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="row">
            <app-top-nav-bar></app-top-nav-bar>
        </div>
        <div class="row">
            <div class="col-2">
                Filter Side bar
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        Card 1 (Followed)
                    </div>
                    <div class="col">
                        Card 2 (Followed)
                    </div>
                    <div class="col">
                        Card 3 (Followed)
                    </div>
                </div>
                <div class="row">
                     Card 1 (Not Followed)
                </div>
                <div class="row">
                    Card 2 (Not Followed)
                </div>
                <div class="row">
                    ...
                </div>
                <div class="row">
                    Card n (Not Followed)
                </div>
            </div>
        </div>
    </div>
</body>

</html>