<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="row">
            <app-top-nav-bar></app-top-nav-bar>
        </div>
        <div class="row">
            Nav bar 2
        </div>
        <div class="row">
            Search/filter bar
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row">
                    Event card 1
                </div>
                <div class="row">
                    Event card 2
                </div>
                <div class="row">
                    ...
                </div>
                <div class="row">
                    Event card n
                </div>
            </div>
            <div class="col">
                Schedule
            </div>
        </div>
    </div>
</body>

</html>