<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="row">
            <app-top-nav-bar></app-top-nav-bar>
        </div>
        <div class="row">
            <div class="col">
                main title text
            </div>
            <div class="col">
                <div class="row">
                    Notification 1
                </div>
                <div class="row">
                    Notification 2
                </div>
            </div>
        </div>
        <div class="row">
            WVU Career Center
        </div>
        <div class="row">
            <div class="col">
                Card 1
            </div>
            <div class="col">
                Card 2
            </div>
            <div class="col">
                Card 3
            </div>
        </div>
        <div class="row">
            <div class="col">
                Card 1
            </div>
            <div class="col">
                Card 2
            </div>
            <div class="col">
                Card 3
            </div>
        </div>
        <div class="row">
            <div class="col">
                ...
            </div>
            <div class="col">
                ...
            </div>
            <div class="col">
                ...
            </div>
        </div>
        <div class="row">
            <div class="col">
                Card 1
            </div>
            <div class="col">
                Card 2
            </div>
            <div class="col">
                Card 3
            </div>
        </div>
    </div>
</body>

</html>