.card:active{
    border-left-width: 3px;
    border-left-color: darkslateblue;
}

.btn{
    background-color: whitesmoke;
    border-radius: 1000px;
}

.btn:hover{
    background-color: rgb(225, 221, 252);
}

.attributes{
    font-size: 18px;
    color: gray;
}

.card-text{
    font-size: 18px;
    margin-bottom:0;
}

.card-title{
    font-size: 28px;
    margin-bottom:20px;
}