<!DOCTYPE html>
<html>

<body>
    <div class="card">
        <div class="card-body">
            <p class="attributes">
                Part-time
                <a class="dot-icon">
                    <img src={{Image_dot}} alt="" width="30" height="30"> 
                </a>
                Internship 
                <a class="dot-icon">
                    <img src={{Image_dot}} alt="" width="30" height="30">
                </a>
                Unpaid
            </p>
            <h1 class="card-title">
                Virtual Intern
                <button type="button" class="btn">
                    <img src={{Image_bookmark}} alt="" width="40" height="40">
                </button>
            </h1>
            <p class="card-text">Enterprise Hall</p>
            <p class="card-text">
                Remote 
                <a class="dot-icon">
                    <img src={{Image_dot}} alt="" width="30" height="30">
                </a>
                {{Location}}</p>
        </div>
    </div>
</body>

</html>