<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="row">
            <app-top-nav-bar></app-top-nav-bar>
        </div>
        <div class="row">
            <app-top-nav-bar-2></app-top-nav-bar-2>
        </div>
        <div class="row">
            <app-filter></app-filter>
        </div>
        <div class="row">
            <div class="col-3">
                <app-card-1></app-card-1>
            </div>
            <div class="col">
                <app-home-page></app-home-page>
                <app-events-page></app-events-page>
                <app-employers-page></app-employers-page>
                <app-messages-page></app-messages-page>
            </div>
        </div>
    </div>
</body>

</html>