<!DOCTYPE html>
<html>

<body>
    <router-outlet></router-outlet>
    <div class="container">
        <div class="row">
            <app-top-nav-bar></app-top-nav-bar>
        </div>
        <div class="row">
            <app-top-nav-bar-2></app-top-nav-bar-2>
        </div>
        <div class="row">
            <app-filter></app-filter>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="row" *ngFor="let jobs_card of jobs_cards;">
                    <app-jobs-card description={{jobs_card.description}} title={{jobs_card.title}} company={{jobs_card.company}} location={{jobs_card.location}}></app-jobs-card>
                </div>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
</body>

</html>